@model Hiba.Models.Media

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <script src="~/ckeditor/ckeditor.js"></script>
</head>
<h1>Create</h1>

<h4>Media</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" name="img" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="text" class="control-label"></label>
                <textarea name="text" id="text" rows="50" cols="80">
                This is my textarea to be replaced with CKEditor 4.
            </textarea>
            </div>
            @*<div class="form-group">
                <label asp-for="Lang" class="control-label"></label>
                <input asp-for="Lang" class="form-control" />
                <span asp-validation-for="Lang" class="text-danger"></span>
            </div>*@
            <select  asp-for="Lang" class="form-select" aria-label="Default select example">
                <option selected>Select Language</option>
                <option value="en-US">Englih</option>
                <option value="ar">Arabic</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    //CKEDITOR.replace('text',
    //    {
    //        filebrowserUploadUrl: '/Media/UploadImage',
    //        filebrowserImageUploadUrl: '/Media/UploadImage',
    //        filebrowserUploadMethod: 'form',
    //        extraPlugins: 'html5video'

    //    }
    //);
    //ClassicEditor
    //    .create(document.querySelector('#text'), {
    //        cloudServices: {
    //            uploadUrl: '/Media/UploadImage'
    //        }
    //    })
    //    .catch(error => {
    //        console.log(error);
    //    });




    ClassicEditor
        .create(document.querySelector('#text'),
            {
                ckfinder: { uploadUrl: '/Media/UploadImage' },
            })
        .config.extraPlugins = 'html5video'
        .catch(error => { console.error(error); });



</script>